<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecgframework.boot.easy_store_boot.app.modules.mapper.AppGoodsMapper">
    <select id="searchByKey"   resultType="org.jeecgframework.boot.easy_store_boot.app.modules.api.vo.GoodsSearchResult">
        <bind name="offset" value="(pageNo - 1) * pageSize"/>
        SELECT
        g.title AS value,
        g.goods_code AS goodsCode,
        g.id AS goods_id,
        g.category_id AS category_id,
        g.unit AS unit,
        g.pur_prc AS purPrc,
        g.sale_prc as salePrc,
        g.trade_prc as tradePrc,
        g.cost_price as costPrice,
        c.title AS categoryName,
        g.stock AS stock,
        g.title AS label
        FROM
        app_goods g
        LEFT JOIN app_goods_category c
        ON g.category_id = c.id
        LEFT JOIN app_supplier s
        ON g.supplier_id = s.id
        WHERE
        g.status = 1
        and g.is_del = 0
        <if test="hideZeroStock != null and hideZeroStock">
            AND COALESCE(g.stock, 0) &lt;&gt; 0
        </if>
        <if test="key!=null and key!=''">
            <bind name="likeKey" value="'%' + key + '%'"/>
            AND (
            <choose>
                <when test="searchType == 'code'">
                    g.goods_code LIKE #{likeKey}
                </when>
                <otherwise>
                    g.title LIKE #{likeKey}
                    <if test="pyCode != null and pyCode != ''">
                        <bind name="likePyCode" value="'%' + pyCode + '%'"/>
                        OR g.py_code LIKE #{likePyCode}
                    </if>
                    OR s.name LIKE #{likeKey}
                </otherwise>
            </choose>
            )
            <if test="searchType != 'code' and pyCode != null and pyCode != ''">
                ORDER BY
                CASE
                WHEN g.py_code LIKE #{likePyCode} THEN 0
                ELSE 1
                END,
                g.title
            </if>
        </if>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="search" resultType="org.jeecgframework.boot.easy_store_boot.app.modules.entity.AppGoods">
        SELECT
        g.*
        FROM
        app_goods g
        LEFT JOIN app_goods_category c
        ON g.category_id = c.id
        LEFT JOIN app_supplier s
        ON g.supplier_id = s.id
        WHERE
        g.status = 1
        and g.is_del = 0
        <bind name="likeKey" value="'%' + query.key + '%'"/>
        AND (
        g.title LIKE #{likeKey}
        <if test="query.pyCode != null and query.pyCode != ''">
            <bind name="likePyCode" value="'%' + query.pyCode + '%'"/>
            OR g.py_code LIKE #{likePyCode}
        </if>
        OR g.goods_code LIKE #{likeKey}
        OR s.name LIKE #{likeKey}
        )
        <if test="query.zeroStock != null and !query.zeroStock">
            AND COALESCE(g.stock, 0) &lt;&gt; 0
        </if>

        <if test="query.column!=null and query.order!=null">
            order by g.${query.column} ${query.order}
        </if>

    </select>

</mapper>
